/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'News Cycle', sans-serif;
  overflow: hidden;
  max-width: 100%;
  background-image: url(../image/newspaper.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
h1 {
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1em;
}
.game {
  height: 400px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-image: url(../image/wall.jpg);
}
.hud {
  margin: 10px;
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
}
.level {
  width: 75%;
}
.score {
  width: 20%;
  text-align: right;
  font-weight: 700;
}
.warning-system,
.powerup-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.warning,
.powerup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning {
  width: 50px;
  height: 50px;
}
.powerup {
  width: 32px;
  height: 32px;
  background-image: url(../image/headshot.png);
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.warning.duck {
  width: 52px;
  height: 75px;
  background-image: url(../image/warnduck.png);
  margin-bottom: 20%;
}
.warning.duck,
.powerup.duck {
  margin-left: auto;
  margin-right: auto;
}
.powerup.duck {
  margin-bottom: 10%;
}
.warning.left {
  background-image: url(../image/warnleft.png);
  width: 75px;
  height: 52px;
}
.warning.left,
.powerup.left {
  margin-left: 25%;
  margin-bottom: 35px;
}
.warning.right {
  background-image: url(../image/warnright.png);
  width: 75px;
  height: 52px;
}
.warning.right,
.powerup.right {
  margin-left: 62%;
  margin-bottom: 35px;
}
.detective {
  width: 100px;
  height: 100px;
  background-color: #ecf0f1;
}
.detective.stand {
  height: 150px;
  margin: 0 auto;
}
.detective.duck {
  margin-top: 50px;
  margin: 0 auto;
}
.detective.left {
  width: 150px;
  margin-left: 17%;
}
.detective.right {
  width: 150px;
  margin-left: 58%;
}
.detective.dead {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0392b;
}
.detective.dead p {
  margin: 0;
}
@media(max-width:767px){
  h1 {
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .warning.left {
    margin-left: 30px;
  }
  .warning.right {
    margin-left: 300px;
  }
  .warning.duck {
    margin-bottom: 175px;
  }
  .app {
    max-width: 100%;
  }
  .powerup.left {
    margin-left: 50px;
  }
  .powerup.right {
    margin-left: 325px;
  }
  .detective.left {
    margin-left: 10px;
  }
  .detective.right {
    margin-left: 250px;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: tada;
}

@keyframes flash {
  from, to {
    opacity: .85;
  }

  25% {
    opacity: 0;
  }
}

.flash {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: flash;
}
