/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'News Cycle', sans-serif;
  overflow: hidden;
  max-width: 100%;
  background-image: url(../image/newspaper.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
h1 {
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.loading-screen {
  height: 400px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.menu-screen {

}
.menu-screen h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 35px;
}
.menu-screen .news {
  display: flex;
}
.menu-screen .news .mugshot {
  display: block;
  background-color: gray;
  margin: 10px;
  width: 50%;
  max-width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
}
.menu-screen .news .blurb {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 10px;
}
.menu-screen .news .article {
  font-size: 14px;
  text-align: justify;
}
.menu-screen ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.menu-screen ul li {
  cursor: pointer;
  margin: 10px 0;
}
.menu-screen ul li:hover {
  text-decoration: underline;
}
.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1em;
}
.game {
  height: 400px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-image: url(../image/wall.jpg);
  position: relative;
}
.hud {
  padding: 5px;
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  background-color: #c0392b;
}
.hud .level {
  width: 75%;
}
.hud .score {
  width: 25%;
  text-align: right;
  font-weight: 700;
  margin-right: 5px;
}
.bullet-container .bullets .bullet {
  width: 48px;
  height: 34px;
  background-image: url(../image/bullet.png);
}
.bullet-container,
.bullet-container .bullets {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.bullet-container .bullets .bullet {
  position: absolute;
}
.bullet-container {
  z-index: 101;
}
.bullet-container .bullets.duck .bullet:first-child {
  bottom: 17%;
  left: 24%;
}
.bullet-container .bullets.duck .bullet:nth-child(2) {
  bottom: 25%;
  left: 40%;
}
.bullet-container .bullets.duck .bullet:nth-child(3) {
  bottom: 32%;
  left: 55%;
}
.bullet-container .bullets.duck .bullet:nth-child(4) {
  bottom: 20%;
  left: 75%;
}
.bullet-container .bullets.left .bullet:first-child {
  bottom: 11%;
  left: 64%;
}
.bullet-container .bullets.left .bullet:nth-child(2) {
  bottom: 14%;
  left: 48%;
}
.bullet-container .bullets.left .bullet:nth-child(3) {
  bottom: 25%;
  left: 42%;
}
.bullet-container .bullets.left .bullet:nth-child(4) {
  bottom: 35%;
  left: 30%;
}
.bullet-container .bullets.right .bullet:first-child {
  bottom: 18%;
  left: 25%;
}
.bullet-container .bullets.right .bullet:nth-child(2) {
  bottom: 25%;
  left: 40%;
}
.bullet-container .bullets.right .bullet:nth-child(3) {
  bottom: 13%;
  left: 49%;
}
.bullet-container .bullets.right .bullet:nth-child(4) {
  bottom: 25%;
  left: 60%;
}
.bullet-container .bullets.all .bullet:first-child {
  bottom: 15%;
  left: 25%;
}
.bullet-container .bullets.all .bullet:nth-child(2) {
  bottom: 24%;
  left: 41%;
}
.bullet-container .bullets.all .bullet:nth-child(3) {
  bottom: 7%;
  left: 50%;
}
.bullet-container .bullets.all .bullet:nth-child(4) {
  bottom: 9%;
  left: 75%;
}
.warning-system,
.powerup-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.warning,
.powerup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning {
  width: 50px;
  height: 50px;
}
.powerup {
  width: 32px;
  height: 32px;
  background-image: url(../image/headshot.png);
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.powerup.stand {
  margin-bottom: 23%;
  margin-left: auto;
  margin-right: auto;
}
.warning.duck {
  width: 52px;
  height: 75px;
  background-image: url(../image/warnduck.png);
  margin-bottom: 20%;
}
.warning.duck,
.powerup.duck {
  margin-left: auto;
  margin-right: auto;
}
.powerup.duck {
  margin-bottom: 10%;
}
.warning.left {
  background-image: url(../image/warnleft.png);
  width: 75px;
  height: 52px;
}
.warning.left,
.powerup.left {
  margin-left: 25%;
  margin-bottom: 35px;
}
.warning.right {
  background-image: url(../image/warnright.png);
  width: 75px;
  height: 52px;
}
.warning.right,
.powerup.right {
  margin-left: 62%;
  margin-bottom: 35px;
}
.detective {
  width: 100px;
  height: 100px;
  z-index: 100;
}
.detective.stand {
  width: 141px;
  height: 170px;
  background-image: url(../image/corgi_stand.png);
  margin: 0 auto;
}
.detective.duck {
  width: 136px;
  height: 137px;
  background-image: url(../image/corgi_down.png);
  margin-top: 50px;
  margin: 0 auto;
}
.detective.left {
  width: 187px;
  height: 122px;
  background-image: url(../image/corgi_left.png);
  margin-left: 17%;
}
.detective.right {
  width: 174px;
  height: 132px;
  background-image: url(../image/corgi_right.png);
  margin-left: 58%;
}
.detective.dead {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0392b;
}
.detective.dead p {
  margin: 0;
}
.muzzle {
  width: 48px;
  height: 44px;
  background-image: url(../image/muzzle.png);
  z-index: 120;
  position: absolute;
  bottom: 45px;
  left: 300px;
}

@media(max-width:767px){
  h1 {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 22px;
  }
  .warning.left {
    margin-left: 30px;
  }
  .warning.right {
    margin-left: 300px;
  }
  .warning.duck {
    margin-bottom: 175px;
  }
  .app {
    max-width: 100%;
  }
  .powerup.left {
    margin-left: 50px;
  }
  .powerup.right {
    margin-left: 325px;
  }
  .powerup.stand {
    margin-bottom: 125px;
  }
  .detective.left {
    margin-left: 10px;
  }
  .detective.right {
    margin-left: 250px;
  }
  .muzzle {
    left: 205px;
  }
  .blurb {
    font-size: 14px;
  }
  .article {
    font-size: 10px;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: tada;
}

@keyframes flash {
  from, to {
    opacity: .85;
  }

  25% {
    opacity: 0;
  }
}

.flash {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: flash;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: bounceOutDown;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: bounceOut;
}

@keyframes fadeIn {
  0%, 90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn1 {
  animation-duration: .1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.fadeIn2 {
  animation-duration: .175s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.fadeIn3 {
  animation-duration: .25s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: bounceOut;
}
